.user-management {
    color: #C96868;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw;
}
@media screen and (max-width: 992px) {
    .user-management {
        font-size: 4vw; 
    }
}

@media screen and (max-width: 768px) {
    .user-management {
        font-size: 5vw; 
    }
    
}